body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(3, 0, 28);
}

.page {
    width: 60%;
    height: 100%;
    margin-left: 20%;
    margin-right: 20%;
    background-color: rgb(48, 30, 103);

}

.static {
    width: 100%;
    height: 20%;
    background-color: rgb(91, 143, 185);
    border-radius: 5px 5px 0 0;
}

.project {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}



#projectName {
    width: 100%;
    height: fit-content;
}

.navigation {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    flex-flow: row;
}

.route {
    color: rgb(3, 0, 28);
    text-align: center;

    flex-basis: 100%;
    stroke: black;
    stroke-width: 5px;
    stroke-linecap: round;
    stroke-linejoin: round;

    border: 5px;
    border-radius: 25px;
}

.route:hover {
    background-color: rgb(3, 0, 28);
    color: beige;
    outline: 2px solid rgba(182, 234, 218, .5);
}

.main {
    width: 100% - 2rem;
    height: 80%;
    background-color: rgb(182, 234, 218);
    border-radius: 0 0 5px 5px;
    padding: 2rem;
}

.paragraph {
    margin-top: 0;
    margin-left: 5;
}
